# Ignore all files starting with ._
._*

# Ignore all files with .pth extension
*.pth

# Ignore everything in the datasets directory
datasets/*

# Exclude the datasets directory itself so it is still tracked
!datasets/
