# Ignore all files starting with ._
._*

# Ignore all files with .pth extension
*.pth

# Ignore everything in the datasets directory
datasets/*

# Exclude the datasets directory itself so it is still tracked
!datasets/

# Ignore .DS_Store files
.DS_Store

# Ignore all __pycache__ directories
__pycache__/


# Ignore __pycache__ in models/pointnet directory
models/pointnet/__pycache__/
